body {
    font-family: Arial, sans-serif;
}

header, footer {
    color: white;
}

.testimonios {
    background-color: #f8f9fa;
    padding: 20px;
}

.testimonios h2 {
    margin-bottom: 15px;
}

.qr-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

#logo{
    width: 45%;
    max-width: 600px;
}

#qrcode {
    width: 50%;
}

.download-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

#download-button{
    margin: 0 auto;
}

.container p{
    font-size: 1.5rem;
}

.wrapper{
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: center;
}

.wrapper p {
    width: 30%;
}

@media screen and (max-width: 768px) {
    .qr-code {
        display: none;
    }
}

@media screen and (min-width: 769px) {
    .download-button {
        display: none;
    }
}