ion-header, ion-content, ion-footer {
  text-align: center;
}

.header-content, .benefits-section, .testimonials-section, .qr-or-download {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.header-content img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

ion-button {
  margin-top: 20px;
}

ion-footer {
  padding: 10px;
}

ul{
  list-style: outside none none;
  padding: 0;
}

