<ion-header>
  <ion-toolbar>
    <ion-title>DuocTAP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content overflow-scroll="true" class="padding" style="text-align:center" scroll=true has-bouncing="true">
  <div class="header-content">
    <h2>Sistema ágil y moderno para registros de asistencia mediante códigos QR</h2>
    <img src="../../assets/main-img.png" alt="Imagen Principal">
  </div>

  <div class="benefits-section">
    <h3>Beneficios</h3>
    <ul>
      <li>Registro de asistencia rápido y seguro</li>
      <li>Interfaz intuitiva para estudiantes y docentes</li>
      <li>Historial completo de asistencias y ausencias</li>
    </ul>
  </div>

  <div class="testimonials-section">
    <h3>Testimonios</h3>
    <p>"La aplicación DuocTAP ha transformado mi experiencia en el aula" - Felipe Iturrieta</p>
    <p>"Gracias a DuocTAP, la asistencia es más eficiente y precisa" - Gonzalo Ulloa</p>
    <p>"DuocTAP ha simplificado enormemente la gestión de clases" - Danilo Jara</p>
  </div>

  <div class="qr-or-download" *ngIf="isDesktop; else mobileDownload">
    <p>Escanea el QR para descargar la App</p>
    <!-- Espacio para el QR -->
    <div class="qrcodeImage" *ngIf="qrCodeValue">
      <qrcode [qrdata]="qrCodeValue" [allowEmptyString]="true"
        [ariaLabel]="'QR Code image with the following content...'" [cssClass]="'center'" [colorDark]="'#1c255b'"
        [colorLight]="'#ffffffff'" [elementType]="'canvas'" [errorCorrectionLevel]="'M'" [margin]="4" [scale]="1"
        [title]="'A custom title attribute'" [width]="300"></qrcode>
    </div>
  </div>
  <ng-template #mobileDownload>
    <ion-button
      href="https://www.dropbox.com/scl/fi/ump4gyb1j6aym4l06mj93/DuocTAP.apk?rlkey=aijfjtmx1oewpk7os7m9lcbyk&dl=0"
      expand="block">Descargar App</ion-button>
  </ng-template>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <p>DuocTAP</p>
  </ion-toolbar>
</ion-footer>